<div align="center"> On va manger ??
  <div><%= link_to "Quelques idées", restaurants_path %></div>
  <div><%= link_to "Ajouter un restaurant", new_restaurant_path %></div>
  <div><%= link_to "Liste des restaurants", search_restaurants_path %></div>
  <div><%= link_to "Liste des restaurants visités", fait_restaurants_path %></div>
</div>